/* CSS files add styling rules to your content */

html, body{
  padding: 0;
  margin: 0;
  font-size: 2vw;
}


body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

h1 {
  font-style: italic;
  color: #373fff;
}

body.pink{
  color: white;
  background-color: pink;
}

body.filter{
  filter: blur(8px);
}


#container{
  position: relative;
  top: 0;
  left: 0;
  width: 90vw;
  height: auto;
}


figure{
  position: relative;
  display: inline-block;
  width: 20vw;
  vertical-align: top;
  transition: width 0.4s;
}

figure img{
  width: 100%;
}

figcaption{
  font-size: 0.75rem;
}
