
@font-face {
    font-family:"Argent Pixel CF Regular";
    src:url("ArgentPixelCF-Regular.woff2") format("woff2"),url("ArgentPixelCF-Regular.woff") format("woff"),url("ArgentPixelCF-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        