
@font-face {
    font-family:"Argent Pixel CF Italic";
    src:url("ArgentPixelCF-Italic.woff2") format("woff2"),url("ArgentPixelCF-Italic.woff") format("woff"),url("ArgentPixelCF-Italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        