html, body{
  padding:0;
  margin: 0;

  overflow-x: hidden;
  cursor: crosshair;
  font-size: 70%;
  color: rgb(79,79,79);
  background-color: rgb(249,191,178);
}

@font-face {
    font-family:"Argent";
    src:url("../fonts/ArgentPixelCF-Regular.woff2") format("woff2"),url("../fonts/ArgentPixelCF-Regular.woff") format("woff"),url("../fonts/ArgentPixelCF-Regular.otf") format("opentype");
    font-style:normal;
    font-weight:400;
}

@font-face {
    font-family:"Argent";
    src:url("../fonts/ArgentPixelCF-Italic.woff2") format("woff2"),url("../fonts/ArgentPixelCF-Italic.woff") format("woff"),url("../fonts/ArgentPixelCF-Italic.otf") format("opentype");
    font-style: italic;
    font-weight:400;
}

h1{
  font-family: helvetica;
  font-weight: medium;
  font-size: 2rem;
}

l{
  text-decoration: underline;
}

ll{
  text-decoration: dotted underline;
}

cap{
  padding-left: 2%;
  text-align: center;
  font-weight: lighter;
  font-size: 1.4rem;
}

mark{
  color: rgb(79,79,79);
  background-color: rgb(255,255,0,0.4);
}

.breaker{
  margin: 0;
  left: 0;
  width: 100vw;
  padding-top: 2vh;
  padding-bottom: 2vw;
  border-bottom: 1.5px dotted rgb(66,49,36);
}

a {
  color: rgb(79,79,79);
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

a:hover {
  color:  rgb(255,255,255,0.8);
  text-decoration: dotted underline;
}

.sides {
  position:fixed;
  margin: 0;
  top: 0;
  left: 0;

  width: 20vw;
  height: 100vh;
  border-right: 1.5px solid rgb(66,49,36);
  z-index: 100;

  font-family: "Argent";
  font-size: 2.2rem;
}

#jodi{
  position: fixed;
  margin: 0;
  top:3vh;
  left: 3vw;
}

#info{
  position: fixed;
  margin: 0;
  bottom:3vh;
  left: 3vw;
}

.legend{
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.content {
  position:absolute;
  bottom:0;
  left: 20vw;

  width: 80vw;
  height: 100vh;
  z-index: 100;
}

#pagi{
  position: absolute;
  margin:0;
  bottom: 2%;
  right:2%;
  width: 70vw;

  text-align: right;
  font-family:"Argent";
  font-size: 7.5rem;
  line-height: 8rem;
  color: rgb(79,79,79);
}

/*ice*/
.photos{
  display: inline-flex;
  flex-wrap: wrap;
}





/*studio*/
.collapsible {
  padding: 2%;
  width: 100vw;
  background-color: transparent;

  font-family: "Argent";
  font-size: 2.2rem;
  color: rgb(79,79,79);
  cursor: pointer;

  border:none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  color: white;
  text-decoration: underline;
  background-color: transparent;
}

.active, .collapsible {
  color: rgb(79,79,79);
  background-color: transparent;
  border-bottom: 1.5px solid rgb(66,49,36);
}

.tab {
  display: none;
  overflow: hidden;
  background-color: transparent;
  padding-bottom: 3vh;
  border-bottom: 1.5px solid rgb(66,49,36);
}

.single{
  padding: 2%;
  width: 60vw;
  font-family: "Helvetica", san serif;
  color: rgb(79,79,79);
  font-size: 1.8rem;
  line-height: 3rem;
}

.a {
  padding-left: 2.5vw;
}

.b {
  padding-left: 1.5vw;
}

.tab a{
  cursor: ne-resize;
  text-decoration: dotted underline;
}

    /*hover over text popup*/
      .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1.5px dotted rgb(79,79,79);
      }

      .tooltip .tooltiptext {
        visibility: hidden;
        width: 25vw;
        background-color: rgb(255, 255, 255);
        color: rgb(79,79,79);
        text-align: center;
        border-radius: 6px;
        padding: 3px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: -10%;
        margin-left: -60px;
      }

      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: rgb(255, 255, 255) transparent transparent transparent;
      }

      .tooltip:hover .tooltiptext {
        visibility: visible;
      }



/*#double1{
  width: 20vw;
}

#double2{
  width: 80vw;
}

#gridA{
  padding: 1vw;
  font-family: "Helvetica", san serif;
  color: rgb(79,79,79);
  font-size: 1.6rem;
  line-height: 3rem;
}

#gridB{
  padding: 1vw;
  width: 55vw;

  font-family: "Helvetica", san serif;
  color: rgb(79,79,79);
  font-size: 2.5rem;
  line-height: 3rem;
}*/




/*dissertation*/

