html, body{
  padding:0;
  margin: 0;

  overflow-x: hidden;
  cursor: crosshair;
  font-size: 70%;
  color: rgb(79,79,79);
  background-color: rgb(249,191,178);
}

@font-face {
    font-family:"Argent";
    src:url("../fonts/ArgentPixelCF-Regular.woff2") format("woff2"),url("../fonts/ArgentPixelCF-Regular.woff") format("woff"),url("../fonts/ArgentPixelCF-Regular.otf") format("opentype");
    font-style:normal;
    font-weight:400;
}

@font-face {
    font-family:"Argent";
    src:url("../fonts/ArgentPixelCF-Italic.woff2") format("woff2"),url("../fonts/ArgentPixelCF-Italic.woff") format("woff"),url("../fonts/ArgentPixelCF-Italic.otf") format("opentype");
    font-style: italic;
    font-weight:400;
}

h1{
  font-family: helvetica;
  font-weight: medium;
  font-size: 2rem;
}

l{
  text-decoration: underline;
}

ll{
  text-decoration: dotted underline;
}

cap{
  padding-left: 2%;
  text-align: center;
  font-weight: lighter;
  font-size: 1.4rem;
}

mark{
  color: rgb(79,79,79);
  background-color: rgb(255,255,0,0.4);
}

.breaker{
  width: 100vw;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border-bottom: 1.5px dotted rgb(66,49,36);
}

a {
  color: rgb(79,79,79);
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

a:hover {
  color:  rgb(255,255,255,0.8);
  text-decoration: dotted underline;
}

.sides {
  position:fixed;
  margin: 0;
  top: 0;
  left: 0;

  width: 20vw;
  height: 100vh;
  border-right: 1.5px solid rgb(66,49,36);
  z-index: 100;

  font-family: "Argent";
  font-size: 2.2rem;
}

#jodi{
  position: fixed;
  margin: 0;
  top:3vh;
  left: 3vw;
}

#info{
  position: fixed;
  margin: 0;
  bottom:3vh;
  left: 3vw;
}

.legend{
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.content {
  position:absolute;
  display: inline-flex;
  bottom:0;
  left: 20vw;

  width: 80vw;
  height: 100vh;
  z-index: 100;
}

#pagi{
  position: absolute;
  margin:0;
  bottom: 2%;
  right:2%;
  width: 70vw;

  text-align: right;
  font-family:"Argent";
  font-size: 7.3rem;
  line-height: 8rem;
  color: rgb(79,79,79);
}

/*ice*/
.img{
  display: inline-flex;
  flex-wrap: wrap;
}

/*studio*/
.collapsible {
  padding: 2%;
  width: 100vw;
  background-color: transparent;

  font-family: "Argent";
  font-size: 2.2rem;
  color: rgb(79,79,79);
  cursor: pointer;

  border:none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  color: white;
  text-decoration: underline;
  background-color: transparent;
}

.active, .collapsible {
  color: rgb(79,79,79);
  background-color: transparent;
  border-bottom: 1.5px solid rgb(66,49,36);
}

.tab {
  display: none;
  overflow: hidden;
  background-color: transparent;
  padding-bottom: 3vh;
  border-bottom: 1.5px solid rgb(66,49,36);
}

.single{
  padding: 2%;
  width: 60vw;
  font-family: "Helvetica", san serif;
  color: rgb(79,79,79);
  font-size: 1.8rem;
  line-height: 3rem;
}

.a {
  padding-left: 2.5vw;
}

.b {
  padding-left: 1.5vw;
}

.tab a{
  cursor: ne-resize;
  text-decoration: dotted underline;
}

/*dissertation*/
.contentDUO h1{
  font-family: helvetica;
  font-weight: medium;
  font-size: 1.8rem;
}

.contentDUO {
  display: inline-flex;
  width: 75vw;

  font-family: "Helvetica", san serif;
  color: rgb(79,79,79);
  font-size: 1.6rem;
  line-height: 2.7rem;
}

.duoA{
  width: 30%;
  padding: 2%;
  border-right: 1.5px dotted rgb(66,49,36);
}

.duoB{
  width: 30%;
  padding: 2%;
  border-right: 1.5px dotted rgb(66,49,36);
}

.extra{
  width: 30%;
  padding: 2%;
}

.citecut{
  padding-top: 1%;
  padding-bottom: 8%;
  border-bottom: 1.5px dotted rgb(66,49,36);
}



/*ICE*/
table {
  width: 100%;
  box-sizing: border-box;
  border-spacing: 0;
  background-color: #FBFBFB;
}

th, td {
  border: 0.1px dotted rgb(66,49,36);
}

th {
  text-transform: uppercase;
  font-size:15px;
  color: #7b7b7b;
  background-color: #FBFBFB;
}

td {
  position: relative;
  width: 14.285%;
  vertical-align: initial;

  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;

  font-size: 1.4rem;
  line-height: 1.8rem;
}

.day:hover {
  background-color: rgba(0,0,0,0.1);
}

.nextmonth {
  color: #9c9c9c;
  background-color: #EBEBEB;
}

.nextmonth:hover {
  color: #7b7b7b;
  background-color: rgba(0,0,0,.20) !important;
}

/*span.event { 
  height: 8px; 
  background-color: rgba(0,0,0,.3); 
  display: block; 
  background-color: #BF4E42;
}

span.event-multiday {
  margin: 10px -2px;
  border-radius: 0;
}

span.event-multiday-start {
  margin-right: -4px;
}

span.event-multiday-finish {
  margin-left: -4px; 
}

span.event-ghost {
  background-color:transparent;
}*/


/*<--task-->*/
.todo {
  display: block;
  width: 98.5%;
  background-color: #ffeac3;
  border-left: 3px solid orange;
}

.dotexto{
  padding-left: 5%;
  color: orange;
}

.todo2 {
  display: block;
  width: 98.5%;
  background-color: #cef7c9;
  border-left: 3px solid #2C8E39;
}

.dotextg{
  padding-left: 5%;
  color: #2C8E39;
}

.todo3 {
  display: block;
  width: 98.5%;
  background-color: #fbcfca;
  border-left: 3px solid #BF4E42;
}

.dotextr{
  padding-left: 5%;
  color: #BF4E42;
}